@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>微领航-Web远程平台</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Assets/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Assets/library/css/font-awesome.min.css" rel="stylesheet">
    <!-- ionicons -->
    <link href="~/Assets/library/css/ionicons.min.css" rel="stylesheet">
    <!-- Simplify -->
    <link href="~/Assets/library/css/simplify.css" rel="stylesheet">
    <link href="~/Assets/css/style.css" rel="stylesheet">

</head>
<body>
    <div class="cmd-header">
        <div class="block-display">
            <div class="col-md-1">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    打开场景
                    <span class="btn-command-icon"><span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:" onclick="ActionButton(this)" action="打开微信">打开微信</a></li>
                    <li><a href="javascript:" onclick="ActionButton(this)" action="打开朋友圈">打开朋友圈</a></li>
                    <li><a href="javascript:" onclick="ActionButton(this)" action="返回桌面">返回桌面</a></li>
                </ul>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    动作
                    <span class="btn-command-icon"><span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:" onclick="ActionButton(this)" action="返回">返回</a></li>
                    <li><a href="javascript:" onclick="ActionButton(this)" action="取消">取消</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:" onclick="ActionButton(this)" action="上滑">上滑</a></li>
                    <li><a href="javascript:" onclick="ActionButton(this)" action="下滑">下滑</a></li>
                    <li class="divider"></li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="col-md-10">
                    <input class="form-control text-send" type="text" placeholder="请输入要发送的文本...">
                </div>
                <div class="col-md-2">
                    <a href="javascript:;" onclick="SendInput()" class="btn btn-danger">发送</a>
                </div>

            </div>
            <div class="col-md-2">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <a class="btn" onclick="ActionButton(this)" action="上滑" href="javascript:;" title="上滑">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="btn" onclick="ActionButton(this)" action="下滑" href="javascript:;" title="下滑">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>

            </div>

            <div class="col-md-1 pull-right text-right">
                <a class="btn btn-success no-shadow" onclick="InlineDisplay(false)" href="javascript:;">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    收起
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="small-display" id="move-block">
            <a class="btn" onclick="ActionButton(this)" action="上滑" href="javascript:;" title="上滑">
                <i class="fa fa-chevron-up"></i>
            </a>

            <a class="btn btn-success no-shadow" onclick="InlineDisplay(true)" href="javascript:;" title="展开">
                <i class="fa fa-circle-o"></i>
            </a>

            <a class="btn" onclick="ActionButton(this)" action="下滑" href="javascript:;" title="下滑">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="snapshot-panel">
        加载中...
    </div>
    <!--<script src="~/Assets/js/signalr/jquery-1.6.4.min.js"></script>-->
    <!-- Jquery -->
    <script src="~/Assets/library/js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Assets/library/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Assets/js/base.js"></script>
    <script src="~/Assets/js/lib/artTemplate/template.js"></script>
    <script src="~/Assets/js/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        var chat = $.connection.HubImages;

        //判断是否掉线，chat.connection.state==1 正常状态

        $(function () {
            var deviceids = queryString("deviceids");
            if (deviceids == undefined)
                return;

            var connectType = queryString("t") || "WiFi";


            var arrayDevices = deviceids.split(',');
            var windowWidth = $(window).width();
            var FrameWidth = windowWidth / arrayDevices.length;

            var source = '{{each data as d i}}'
                + '<img src="" class="device{{i}} img-block" data-deviceid="{{d}}" style="width:10%;" alt="设备{{i+1}} 暂无画面" />'
                + '{{/each}}';
            var render = template.compile(source);
            var html = render({
                data: arrayDevices
            });
            $('.snapshot-panel').html(html);



            var base64 = "";
            $.connection.hub.start({ transport: ['webSockets'] }).done(function () {
                for (i = 0; i < arrayDevices.length; i++) {
                    chat.server.sendMessage(arrayDevices[i], "FullImage", connectType);
                }
            }).fail(function () { console.log('Could not Connect!'); });
            chat.client.receiveImage = function (name, bytes) {
                $el = $('img[data-deviceid="' + name + '"]');

                if (bytes != "") {
                    $el.attr("src", "data:image/png;base64," + bytes);
                }

                setTimeout(function () {
                    chat.server.sendMessage(name, "FullImage", connectType);
                }, 500);
            };


            $('.img-block').on('click', function (e) {
                var $el = $(this)[0];
                var pointStart = { x: $el.offsetLeft, y: $el.offsetTop };
                var pointClick = { x: e.pageX, y: e.pageY };

                var RatioX = $el.clientWidth / 640;
                var RatioY = $el.clientHeight / 1136;
                //设备的相对坐标，按照比例(1136x640) 转化为 实际坐标
                var pointRelative = { x: pointClick.x - pointStart.x, y: pointClick.y - pointStart.y };
                var pointReal = { x: parseInt(pointRelative.x / RatioX), y: parseInt(pointRelative.y / RatioY) };
                pointReal.x = pointReal.x < 0 ? 0 : pointReal.x;
                pointReal.x = pointReal.x > 640 ? 640 : pointReal.x;

                pointReal.y = pointReal.y < 0 ? 0 : pointReal.y;
                pointReal.y = pointReal.y > 1136 ? 1136 : pointReal.y;

                //alert("x:" + pointReal.x + " ; y:" + pointReal.y);
                var deviceid = $(this).data("deviceid");
                chat.server.sendCommand(deviceid, "Click", pointReal.x + "," + pointReal.y);
            });

            Drag("move-block");
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function ActionButton(obj) {
            var actionName = $(obj).attr("action");
            var deviceids = queryString("deviceids");

            chat.server.sendCommand(deviceids, actionName, "");
        }

        function SendInput() {
            var deviceids = queryString("deviceids");
            var text = $('.text-send').val();
            chat.server.sendCommand(deviceids, "Input", text);

        }

        function InlineDisplay(display) {
            if (display) {
                $('.block-display').show();
                $('.small-display').hide();
            }
            else {
                $('.block-display').hide();
                $('.small-display').show();
            }
        }


        //某元素可拖动
        function Drag(id) {
            var $ = function (flag) {
                return document.getElementById(flag);
            }
            $(id).onmousedown = function (e) {
                var d = document;
                var page = {
                    event: function (evt) {
                        var ev = evt || window.event;
                        return ev;
                    },
                    pageX: function (evt) {
                        var e = this.event(evt);
                        return e.pageX || (e.clientX + document.body.scrollLeft - document.body.clientLeft);
                    },
                    pageY: function (evt) {
                        var e = this.event(evt);
                        return e.pageY || (e.clientY + document.body.scrollTop - document.body.clientTop);
                    },
                    layerX: function (evt) {
                        var e = this.event(evt);
                        return e.layerX || e.offsetX;
                    },
                    layerY: function (evt) {
                        var e = this.event(evt);
                        return e.layerY || e.offsetY;
                    }
                }
                var x = page.layerX(e);
                var y = page.layerY(e);
                var dv = $(id);
                if (dv.setCapture) {
                    dv.setCapture();
                }
                else if (window.captureEvents) {
                    window.captureEvents(Event.MOUSEMOVE | Event.MOUSEUP);
                }
                d.onmousemove = function (e) {
                    var tx = page.pageX(e) - x;
                    var ty = page.pageY(e) - y;
                    dv.style.left = tx + "px";
                    dv.style.top = ty + "px";
                }
                d.onmouseup = function () {
                    if (dv.releaseCapture) {
                        dv.releaseCapture();
                    }
                    else if (window.releaseEvents) {
                        window.releaseEvents(Event.MOUSEMOVE | Event.MOUSEUP);
                    }
                    d.onmousemove = null;
                    d.onmouseup = null;
                }
            }
        }
    </script>

</body>
</html>
