.vertical-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlap {position:fixed; width:100%; height:100%; background:#F7F7F7; 
          opacity:1; top:0px; left:0px;z-index:99; display:none; overflow-y:auto;}
.overlap .profile-skill{width:200px; height:200px; line-height:200px;}

.overlap .smart-widget{min-height:80%;}

.header-mini {min-height:52px;}

.action-status{color:#F00; font-weight:700;}

.btn-sys-panel .dropdown-menu{display: none;position: absolute;z-index: 1001;top: 30%;left: 100%;}
.btn-sys-panel:hover .dropdown-menu {display: block;}

.floatleft{float:left;}
.clear{clear:both;}

#tree-files{display:inline-block;}
.root-inline{display:inline-block !important;}

.luatree-line li{list-style:none; padding:5px 0px;}
.luatree-line li label{font-size:16px;}

.cmd-header{
    width:auto;
}

.snapshot-panel{padding:5px;}

.fallback{padding-top:7px;}


.snapshot-panel {text-align: center;}
.snapshot-panel img {margin: 2px;border: 1px solid #ccc;}
.small-display{display:block;padding:8px 0px; 
    width:150px; 
    height:80px;
    line-height:60px;
    border-radius:60px;
    cursor:move;
    text-align:center;
    position:absolute;
    top:0px;
    left:0px;
}
.small-display a{border-radius:12px;}
.block-display{display:none; padding:8px 0px; border-bottom:1px solid #B9B9B9;}

.pager-tip{ vertical-align:text-bottom;}

.open>.dropdown-menu{left:170px;}

.action-icon{margin:0px 3px;line-height:normal;}