@{
    Layout = null;
}


<aside class="sidebar-menu fixed sidebar-mini">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="main-menu">
            <ul class="accordion">
                <li class="menu-header">
                    Main Menu
                </li>
                <li class="bg-palette1">
                    <a href="#index">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                            <span class="text m-left-sm">主页</span>
                        </span>
                        <span class="menu-content-hover block">
                            主页
                        </span>
                    </a>
                </li>
                <li class="bg-palette2">
                    <a href="devices.html">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
                            <span class="text m-left-sm">设备</span>
                        </span>
                        <span class="menu-content-hover block">
                            设备
                        </span>
                    </a>
                </li>
                <li class="bg-palette3">
                    <a href="files.html">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                            <span class="text m-left-sm">脚本</span>
                        </span>
                        <span class="menu-content-hover block">
                            脚本
                        </span>
                    </a>
                </li>
                <li class="openable bg-palette4">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-clock-o fa-lg"></i></span>
                            <span class="text m-left-sm">系统设置</span>
                            <span class="submenu-icon"></span>
                        </span> 
                        <span class="menu-content-hover block">
                            设置
                        </span>
                    </a>
                    <ul class="submenu">
                        <li><a href="scans.html"><span class="submenu-label">设备更新</span></a></li>
                        <li><a href="helps.html"><span class="submenu-label">使用帮助</span></a></li>
                    </ul>
                </li>
                <li class="menu-header">
                    Others
                </li>
                <li class="bg-palette3">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
                            <span class="text m-left-sm">日志记录</span>
                        </span>
                        <span class="menu-content-hover block">
                            日志
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-fix-bottom clearfix">
            <a href="lockscreen.html" class="pull-right font-18"><i class="ion-log-out"></i></a>
        </div>
    </div><!-- sidebar-inner -->
</aside>
